<app-parts-sidebar>
  <mat-form-field>
    <i class="fas fa-search position-absolute h-100 w-100" (click)="filter = ''"></i>
    <input matInput [(ngModel)]="filter" name="filter" class="pl-4">
  </mat-form-field>
  <div *ngFor="let column of columns">
    <div class="mb-2" *ngIf="column.name.search(filter) >= 0">
      {{ column.name }}
      <i class="mx-1 fas fa-key text-info" *ngIf="column.primary"></i>
      <i class="mx-1 fas fa-angle-double-up text-danger" *ngIf="column.autoincrement"></i>
      : {{ column.unsigned ? 'unsigned' : '' }} {{ column.type }}{{ column.length ? '('+column.length+')' : '' }} {{ column.notnull ? '' : 'NULL'}}
      : <span class="text-info">{{ column.default === null ? 'NULL' : column.default }}</span>
    </div>
  </div>
</app-parts-sidebar>
