<app-parts-sidebar>
  <mat-form-field>
    <app-parts-icon class="position-absolute h-100 w-100" icon="search" (click)="filter = ''"></app-parts-icon>
    <input matInput [(ngModel)]="filter" name="filter" class="pl-4">
  </mat-form-field>
  <div *ngFor="let column of columns">
    <div class="mb-2" *ngIf="column.name.search(filter) >= 0">
      {{ column.name }}
      <app-parts-icon icon="key" [info]="true" *ngIf="column.primary"></app-parts-icon>
      <app-parts-icon icon="angle-double-up" [danger]="true" *ngIf="column.autoincrement"></app-parts-icon>
      : {{ column.unsigned ? 'unsigned' : '' }} {{ column.type }}{{ column.length ? '('+column.length+')' : '' }} {{ column.notnull ? '' : 'NULL'}}
      : <span class="text-info">{{ column.default === null ? 'NULL' : column.default }}</span>
    </div>
  </div>

  <main *ngIf="page">
    <table class="table table-sm table-striped table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <ng-container *ngFor="let column of columns">
            <th (click)="selectSearch($event, column.name)" *ngIf="column.name.search(filter) >= 0">
              {{ column.name }}
              <app-parts-icon icon="key" [info]="true" *ngIf="column.primary"></app-parts-icon>
            </th>
          </ng-container>
        </tr>
        <tr>
          <th><app-parts-icon icon="trash" [danger]="true" (click)="clearWhere($event, true)"></app-parts-icon></th>
          <ng-container *ngFor="let column of columns">
            <th class="text-right" (click)="selectSearch($event, column.name)" *ngIf="column.name.search(filter) >= 0">
              <ng-container *ngIf="column.name === select">
                <form *ngFor="let where of wheres[column.name]; index as i" (submit)="doneSearch($event)">
                  <mat-form-field>
                    <mat-select [(value)]="where.op">
                      <mat-option [value]="op" *ngFor="let op of ['=', 'like', '<', '<=', '>', '>=', '<>']">{{ op }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [(ngModel)]="where.value" name="value">
                  </mat-form-field>
                  <app-parts-icon icon="check" [success]="true" (click)="doneSearch($event)"></app-parts-icon>
                  <app-parts-icon icon="trash" [danger]="true" (click)="deleteWhere($event, column.name, i)"></app-parts-icon>
                </form>
                <app-parts-icon icon="plus" [success]="true" (click)="addWhere($event)"></app-parts-icon>
              </ng-container>
              <ng-container *ngIf="column.name !== select">
                <div *ngFor="let where of wheres[column.name]; index as i">
                  {{ where.op }} {{ where.value }}
                  <app-parts-icon icon="trash" [danger]="true" (click)="deleteWhere($event, column.name, i)"></app-parts-icon>
                </div>
              </ng-container>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of page.data; index as i">
          <th class="bg-dark text-light" >{{ i + 1 }}</th>
          <ng-container *ngFor="let column of columns">
            <td (click)="selectEdit(i, column.name)" *ngIf="column.name.search(filter) >= 0">
              <div *ngIf="edit && edit.idx === i && edit.column === column.name; else elseBlock">
                <textarea matInput [(ngModel)]="edit.value"></textarea>
                <div>
                  <app-parts-icon icon="check" [success]="true" (click)="doneEdit($event)"></app-parts-icon>
                  <app-parts-icon icon="times" [danger]="true" (click)="clearEdit()"></app-parts-icon>
                </div>
              </div>
              <ng-template #elseBlock>{{ row[column.name] === null ? 'NULL' : row[column.name] }}</ng-template>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </main>
</app-parts-sidebar>
