<mat-sidenav-container class="h-100" autosize>
  <mat-sidenav class="p-2 bg-dark text-light" mode="side" opened disableClose>
    <h3 class="m-4">DB Manager</h3>
    <div *ngFor="let path of paths; index as i; last as last">
      <button [ngClass]="'btn m-0 p-0 ml-' + (i * 2)" [class.text-light]="!last" [class.text-warning]="last" [routerLink]="path.href">
        <i class="fas" [class.text-info]="!last" [class.text-warning]="last" [ngClass]="path.icon"></i>
        {{ path.name }}
      </button>
    </div>
    <ng-content></ng-content>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">
    <ng-content select="main"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
