<mat-drawer-container class="h-100" autosize>
  <mat-drawer class="p-2 bg-dark text-light" mode="side" opened>
    <h5 class="m-4">
      <mat-icon class="align-bottom text-primary">settings</mat-icon> DB Manager
    </h5>
    <div class="m-0" *ngFor="let connection of connections; index as i">
      <button class="btn text-light m-0 p-0" (click)="getTables(i, false)">
        <mat-icon class="align-bottom" [class.text-info]="i !== select.connection" [class.text-warning]="i === select.connection">folder</mat-icon> {{ connection.description }}
      </button>
      <div class="float-right" *ngIf="i === select.connection">
        <mat-icon class="align-bottom" [color]="select.edit ? 'accent' : 'default'" (click)="select.edit = !select.edit">edit</mat-icon>
        <mat-icon class="align-bottom text-success" (click)="resetTable(i)">refresh</mat-icon>
      </div>
      <div class="ml-4" *ngIf="i === select.connection">
        <mat-form-field>
          <input matInput [(ngModel)]="connection.database" name="database" required (change)="saveDatabase()">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix class="align-bottom text-light mr-1">search</mat-icon>
          <input matInput [(ngModel)]="filter.table" name="table" (keyup)="getTables(i, true)">
        </mat-form-field>
        <div *ngFor="let table of tables">
          <button class="btn text-light m-0 p-0" (click)="getColumns(table)">
            <mat-icon class="align-bottom" [class.text-info]="table !== select.table" [class.text-warning]="table === select.table">list</mat-icon> {{ table }}
          </button>
          <mat-icon class="float-right align-bottom" (click)="toggleColumns()" *ngIf="table === select.table">autorenew</mat-icon>
          <div class="ml-4" *ngIf="table === select.table">
            <mat-form-field>
              <mat-icon matPrefix class="align-bottom text-light mr-1">search</mat-icon>
              <input matInput [(ngModel)]="filter.column" name="column" (keyup)="getColumns(table, true)">
            </mat-form-field>
            <div (click)="toggleColumn(column.name)" *ngFor="let column of columns">
              <button class="btn m-0 p-0" [class.text-light]="select.columns.indexOf(column.name) < 0" [class.text-warning]="select.columns.indexOf(column.name) >= 0" >
                {{ column.name }} : {{ column.type }}{{ column.length ? '('+column.length+')' : '' }} {{ column.notnull ? '' : 'NULL'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-icon class="align-bottom text-success" (click)="addConnection()">add</mat-icon>
  </mat-drawer>

  <mat-drawer-content class="p-4">
    <app-query [index]="select.connection" [connection]="connections[select.connection]" [table]="select.table" [columns]="select.columns" *ngIf="tables.length && !select.edit"></app-query>
    <app-edit [index]="select.connection" [connection]="connections[select.connection]" *ngIf="select.edit"></app-edit>
  </mat-drawer-content>
</mat-drawer-container>
