<mat-drawer-container class="h-100" autosize>
  <mat-drawer class="p-2 bg-dark text-light" mode="side" opened>
    <h5 class="m-4">DB Manager</h5>
    <div class="m-0" *ngFor="let connection of connections; index as i">
      <button class="btn text-light m-0 p-0" (click)="getTables(i, false)">
        <i class="fas fa-folder text-info" *ngIf="i !== select.connection"></i>
        <i class="fas fa-folder-open text-warning" *ngIf="i === select.connection"></i>
        {{ connection.description }}
      </button>
      <div class="float-right" *ngIf="i === select.connection">
        <i class="fas fa-edit" [class.text-warning]="select.edit" (click)="select.edit = !select.edit"></i>
        <i class="fas fa-download text-success" (click)="resetTable(i)"></i>
      </div>
      <div class="ml-4" *ngIf="i === select.connection">
        <mat-form-field>
          <input matInput [(ngModel)]="connection.database" name="database" required (change)="saveDatabase()">
        </mat-form-field>
        <mat-form-field>
          <i class="fas fa-search position-absolute h-100 w-100" (click)="getTables(i, !filter.table='')"></i>
          <input matInput [(ngModel)]="filter.table" name="table" class="pl-4" (keyup)="getTables(i, true)">
        </mat-form-field>
        <div *ngFor="let table of tables">
          <button class="btn text-light m-0 p-0" (click)="getColumns(table)">
            <i class="fas fa-list" [class.text-info]="table !== select.table" [class.text-warning]="table === select.table"></i> {{ table }}
          </button>
          <i class="fas fa-sync float-right" (click)="toggleColumns()" *ngIf="table === select.table"></i>
          <div class="ml-4" *ngIf="table === select.table">
            <mat-form-field>
              <i class="fas fa-search position-absolute h-100 w-100" (click)="getColumns(table, !filter.column='')"></i>
              <input matInput [(ngModel)]="filter.column" name="column" class="pl-4" (keyup)="getColumns(table, true)">
            </mat-form-field>
            <div (click)="toggleColumn(column.name)" *ngFor="let column of columns">
              <button class="btn m-0 p-0" [class.text-light]="select.columns.indexOf(column.name) < 0" [class.text-warning]="select.columns.indexOf(column.name) >= 0" >
                {{ column.name }} : {{ column.type }}{{ column.length ? '('+column.length+')' : '' }} {{ column.notnull ? '' : 'NULL'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="fas fa-plus text-success" (click)="addConnection()"></i>
  </mat-drawer>

  <mat-drawer-content class="p-4">
    <app-query [index]="select.connection" [connection]="connections[select.connection]" [table]="select.table" [columns]="select.columns" *ngIf="tables.length && !select.edit"></app-query>
    <app-edit [index]="select.connection" [connection]="connections[select.connection]" *ngIf="select.edit"></app-edit>
  </mat-drawer-content>
</mat-drawer-container>
