ace-editor {
    min-height: 600px;
    width: 100%;
}

table {
  &.table {
    white-space: nowrap;
  }

  &.table-dark {
    width: 10px;
  }

  &.table-responsive {
    width: calc(100% - 30px);
    max-width: 95%;
  }
}
