ngx-monaco-editor {
  min-height: 600px;
}

table {
  &.table {
    max-height: 40em;
    white-space: nowrap;
    font-size: .8em;

    thead th {
      z-index: 1;
    }

    th {
      position: sticky;
      top: 0;
      left: 0;
    }

    th, td {
      line-height: 1;
      padding: .5em;
      white-space: pre;
    }
  }
}
