<mat-tab-group>
  <mat-tab label="クエリ">
    <ace-editor mode="sql" [(text)]="result.query" (keydown.control.enter)="execute()"></ace-editor>
  </mat-tab>
  <mat-tab label="実行結果" *ngIf="result.data && result.data.length">
    <mat-form-field>
      <i class="fas fa-search position-absolute h-100 w-100" (click)="filter = ''"></i>
      <input matInput [(ngModel)]="filter" name="filter" class="pl-4">
    </mat-form-field>
    <table class="table table-sm table-striped table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th *ngFor="let header of headers()">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of result.data; index as i">
          <th class="bg-dark text-light" >{{ i + 1 }}</th>
          <td *ngFor="let header of headers()">{{ row[header] === null ? 'NULL' : row[header] }}</td>
        </tr>
      </tbody>
    </table>
    {{ result.count }} 件中 {{ result.data.length }} 件のレコードを表示
    <i class="fas fa-copy float-right text-warning" (click)="copy()"></i>
  </mat-tab>
</mat-tab-group>

<mat-form-field *ngIf="table">
  <mat-select [(value)]="queryType" placeholder="操作">
    <mat-option [value]="permission" [disabled]="connection.permissions.indexOf(permission) < 0" (click)="setTemplate()" *ngFor="let permission of permissions">{{ permission | uppercase }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="result.history">
  <mat-select [(value)]="result.query" placeholder="履歴">
    <mat-option [value]="history" *ngFor="let history of result.history">{{ history }}</mat-option>
  </mat-select>
</mat-form-field>
<i class="fas fa-play text-primary m-3" (click)="execute()"></i>

<pre class="mt-2 alert alert-danger" *ngIf="result.error">{{ result.error }}</pre>
<pre class="mt-2 alert alert-success" *ngIf="result.count">{{ result.count }} 件のレコードを処理しました</pre>
